#contactPage{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
     margin-top: 15rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

@media screen and (max-width:900px) {
    #contactPage{
        /* margin-top: -15rem !important; */
    }
    
}
@media screen and (max-width:600px) {
    #contactPage{
        /* margin-top: -20rem !important; */
    }
    
}

.contactPageTitle{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.clientDesc{
    font-weight: 300;
    font-size: 1rem;
}

.clientImgs{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.clientImg{
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.2.5rem;

}

#clients{
    padding: 2rem;
}

.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60;
}


.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn{
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    color: black;
     padding: 0.75rem 3.5rem;
}

.links{
    display: flex;
    flex-wrap: wrap;
}
.link{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;

}